body {
font-family: "Courier New";
}
.class1 {
float: left;
}
.player {
text-align: center;
font-weight: bold;
}
#map {
width: 600px;
height: 600px;
background-image: url('/jpg/index.jpg');
}
.row{
width: 600px;
height: 120px;
white-space:nowrap;
}
.row div{
width: 120px;
height: 120px;
display:inline-block;
margin-left: -4px;
}
#mess {
margin-left: 20px;
width: 400px;
height: 550px;
overflow-y: auto;
}